@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@theme {
  --background: #ffffff;
  --foreground: #171717;

  --color-primary-50: #f0f5ff;
  --color-primary-100: #d3e0fb;
  --color-primary-200: #a8c1f7;
  --color-primary-300: #7ca1f3;
  --color-primary-400: #5182ef;
  --color-primary-500: #2563eb;
  --color-primary-600: #1e4fbc;
  --color-primary-700: #163b8d;
  --color-primary-800: #0f285e;
  --color-primary-900: #07142f;

  --color-secondary-50: #eacffe;
  --color-secondary-100: #d69ffd;
  --color-secondary-200: #c170fc;
  --color-secondary-300: #ad40fb;
  --color-secondary-400: #9810fa;
  --color-secondary-500: #7a0dc8;
  --color-secondary-600: #5b0a96;
  --color-secondary-700: #3d0664;
  --color-secondary-800: #1e0332;

  --color-tertiary-50: #fefdf3;
  --color-tertiary-100: #fff7cc;
  --color-tertiary-200: #ffef99;
  --color-tertiary-300: #ffe766;
  --color-tertiary-400: #ffdf33;
  --color-tertiary-500: #ffd700;
  --color-tertiary-600: #ccac00;
  --color-tertiary-700: #998100;
  --color-tertiary-800: #665600;
  --color-tertiary-900: #332b00;

  --color-dark: #171717;
  --color-light: #ffffff;
}

@layer base {
  [data-theme="dark"] {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
